<div class="flex flex-col gap-3 container lg:w-1/2 mx-auto p-2">
{{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn text-white bg-emerald-700 hover:bg-emerald-800 cursor-pointer focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>