<div class="flex flex-col gap-3 container lg:w-1/2 mx-auto p-2">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
