{% extends 'base.html.twig' %}

{% block title %}Edit Availability{% endblock %}

{% block body %}
    <h1>Edit Availability</h1>

    {{ include('availability/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_availability_index') }}">back to list</a>

    {{ include('availability/_delete_form.html.twig') }}
{% endblock %}
