{% extends 'base.html.twig' %}

{% block title %}New Availability{% endblock %}

{% block body %}
    <h1 class="text-xl mb-3 text-center">Nouvelle disponibilité</h1>
    {{ include('availability/_form.html.twig') }}
{% endblock %}
