{% extends 'base.html.twig' %}

{% block title %}Nouvelle événement{% endblock %}

{% block body %}
    <h1 class="text-xl mb-3 text-center">Nouvel événement</h1>

    {{ include('event/_form.html.twig') }}

{% endblock %}
