<div class="flex gap-2">
	{{ component('Link:Secondary', {
		path: 'app_register',
		content: "Inscription"
	})}}

	{{ component('Link:Primary', {
		path: 'app_login',
		content: "Connexion"
	})}}
</div>
