<button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="block text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
	Inviter un membre
</button>

<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div class="relative p-4 w-full max-w-md max-h-full">
		<div
			class="relative bg-white rounded-lg shadow dark:bg-gray-700">

			{# Close modal #}
			<button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
				<span class="sr-only">Close modal</span>
			</button>


			<div class="p-4 md:p-5 text-center">
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400 p-3">Chercher un utilisateur :</h3>
				<form>
					<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Ajouter</label>
					<div class="relative">
						<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
							<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
							</svg>
						</div>
						<input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Entrez le nom d'un utilisateur" required>
						<button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">Ajouter</button>
					</div>
				</form>
				<div id="found-users"></div>

			</div>

		</div>
	</div>
</div>

<script>
	const searchBar = document.querySelector('#default-search');
	const foundUsers = document.querySelector('#found-users')

	searchBar.addEventListener('input', searchUsers);

	async function searchUsers() {
		if (searchBar.value.trim() !== "") {
			const reponse = await fetch(`http://127.0.0.1:8000/user/search?q=${searchBar.value.trim()}`, {
				headers: {
				"Content-Type": "application/json",
				},
			});
			const users = await reponse.json();

			while (foundUsers.firstChild) {
				foundUsers.removeChild(foundUsers.firstChild);
			}

			if(users.length > 0) {
				for(let user of users) {
					const userBlock = document.createElement('div');
					userBlock.classList.add("block","w-full","p-4","ps-10","text-sm","text-gray-900","border","border-gray-300","rounded-lg","bg-gray-50","cursor-pointer","hover:bg-gray-100", "my-1", "flex", "items-center", "gap-3");
					foundUsers.appendChild(userBlock);
					const picture = document.createElement('img');
					picture.classList.add("h-20");
					picture.setAttribute('src', user.picture);
					userBlock.appendChild(picture);
					const userPar = document.createElement('p');
					userPar.innerText = `${user.firstName} ${user.lastName}`;
					userBlock.appendChild(userPar);
				}
			}
			else
			{
				foundUsers.innerText = "Désolé, aucun utilisateur ne correspond à votre recherche.";
			}
		}
		else {
			while (foundUsers.firstChild) {
				foundUsers.removeChild(foundUsers.firstChild);
			}
		}
	}
</script>
