{% extends 'base.html.twig' %}

{% block title %}IRL - Nouveau groupe{% endblock %}

{% block body %}
    <h1 class="text-xl mb-3 text-center">Nouveau groupe</h1>
    {{ include('group/_form.html.twig') }}
    
{% endblock %}
